---
// src/pages/blog/[...slug].astro
import { getCollection, render } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { routeFor } from "../../data.js";

export async function getStaticPaths() {
  const pages = await getCollection("pages");

  // use grouping so that all subsections within a blog post are isolated from other blogs
  const grouped = Map.groupBy(pages, ({ id }) => id.split("/")[0]);

  return Array.from(grouped.entries()).flatMap((blog) =>
    // `blog` is an array containing [id, entries]
    blog[1]
      .toSorted((a, b) =>
        a.id.localeCompare(b.id, undefined, { numeric: true }),
      )
      .map((blogPart, ind, entries) => {
        return {
          params: {
            slug: routeFor(blogPart, ind, ""),
          },
          props: {
            entry: blogPart,
            entries: entries,
            index: ind,
            blogId: blog[0],
          },
        };
      }),
  );
}

const { entry, entries, index, blogId } = Astro.props;
const { Content } = await render(entry);
const title =
  entry.data.title ||
  entry.filePath?.substring(
    entry.filePath.lastIndexOf("/") + 1,
    entry.filePath.lastIndexOf("."),
  );
const postEntries = entries.filter((entry) => entry.id.startsWith(blogId));
---

<BlogLayout title={title} entries={postEntries} index={index}>
  <h1>{title}</h1>
  <Content />
</BlogLayout>
