---
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner.astro";
import Links from "../../components/Links.astro";
import A from "../../components/Anchor.astro";
import { blogs } from "../../data.ts";
---

<Layout title="Blog">
  <div class="w-full h-full max-w-4xl mx-auto">
    <Banner />
    <div
      class="grid grid-cols-[4fr_1fr] content-stretch justify-items-stretch gap-4 rounded-2xl mb-12 bg-background/80"
    >
      <div
        class="border-gray-600 border space-y-6 [&>a>div]:border-t [&>a>div]:border-gray-700 [&>a>div]:border-b"
      >
        <h1 class="text-center my-4">Blog</h1>
        {
          blogs.map((obj) => (
            <A
              href={`/blog/${obj.slug}`}
              class="hover:no-underline! hover:brightness-100!"
            >
              <div class="hover:bg-background-light px-6 pt-3 pb-4 space-y-1">
                <h3 class="text-[1.5rem]! leading-7">{obj.title} </h3>
                <div class="text-[0.95rem] text-gray-200 mb-1.5">
                  <span class="text-sm text-gray-400">({obj.date})</span>
                  {obj.description}
                </div>
              </div>
            </A>
          ))
        }
      </div>
      <div>
        <Links />
      </div>
    </div>
  </div>
</Layout>
