---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Links from "../components/Links.astro";
---

<Layout title="About me">
  <div class="w-full h-full max-w-4xl mx-auto">
    <Banner />
    <div
      class="grid grid-cols-[3.5fr_1fr] content-stretch justify-items-stretch gap-4 rounded-2xl mb-12"
    >
      <!-- First column -->
      <div class="border border-gray-600 bg-background p-4">
        <h1>Hi, I'm orangishcat!</h1>
        <p>I'm a programmer who does programming things.</p>

        <h3>Thoughts on California</h3>
        <p>
          It's pretty good! The weather is really nice here. It never rains in
          the summer, rarely in spring and fall, and only occasionally in
          winter!
        </p>
        <p>
          And of course, it never snows, not here at least. The closest I've
          ever seen it to snowing is a layer of frost or so on the rooftops.
        </p>
        <p>
          Since California is on a fault line, it does have a few earthquakes
          every year or so. But these earthquakes were like magnitude 3 anyway,
          so they're not that big of a deal.
        </p>
        <p>
          Stuff is expensive here though. Like over $5 per gallon of gas,
          minimum, and I assume the price of other stuff is higher as well.
        </p>

        <h3>I don't have any pets</h3>
        <p>
          I like cats, though! Some of my relatives have cats. Cats are much
          easier to take care of, than say, dogs, but it's still probably a lot
          of work. For now though, I'm totally content with bothering other
          people's pets rather than getting my own.
        </p>

        <h3>I'm just a software guy</h3>
        <p>
          As in, I've never really done hardware before. Bringing electronics
          into the real world sounds very amazing to me, and I hope to do so in
          a way that isn't just robotics (as in, I want to actually create
          something custom that can solve a problem in my life).
        </p>
      </div>
      <div>
        <!-- Second column -->
        <Links />
      </div>
    </div>
  </div>
</Layout>
