---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex w-full h-full justify-center place-items-center">
    <div class="w-full h-full max-w-6xl p-16">
      <div class="flex justify-center w-full m-4">
        <img src="src/assets/neon banner.avif" class="w-1/2" />
      </div>
      <h1>More about me</h1>
      <p>You want to hear more about me? Ok, here:</p>
      <ul class="text-base">
        <li>
          I live in California, USA!
          <ul>
            <li>
              The weather's really nice here! No snow and rarely any rain.
            </li>
            <li>No drought either, at least as of right now!</li>
            <li>I'm also not in earthquake region which is nice</li>
          </ul>
        </li>
        <li>
          I like cats!
          <ul>
            <li>
              And dogs too, and animals in general! I just like cats the most :3
            </li>
          </ul>
        </li>
        <li>
          I like the outdoors too!
          <ul>
            <li>Mainly hiking and running, nature is really cool :o</li>
            <li>
              I'd like to hopefully bike more if I ever manage to buy a good
              bike
            </li>
          </ul>
        </li>
        <li>
          I'm a night owl
          <ul>
            <li>and I use my computer way too much...</li>
          </ul>
        </li>
      </ul>
    </div>
  </main>
</Layout>
