---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Links from "../components/Links.astro";
---

<Layout>
  <div class="w-full h-full max-w-3xl">
    <Banner />
    <div
      class="grid grid-cols-[3fr_1fr] content-stretch justify-items-stretch gap-4 rounded-2xl mb-12"
    >
      <!-- First column -->
      <div class="border border-gray-600 p-4">
        <h1>More about me</h1>
        <p>You want to read more about me? Ok sure!</p>
        <ul class="text-base">
          <li>
            I live in California, USA!
            <ul>
              <li>
                The weather's really nice here! No snow and rarely any rain.
              </li>
              <li>No drought either, at least as of right now!</li>
              <li>I'm also not in earthquake region which is nice</li>
            </ul>
          </li>
          <li>
            I like cats!
            <ul>
              <li>
                And dogs too, and animals in general! I just like cats the most
                :3
              </li>
            </ul>
          </li>
          <li>
            I like the outdoors too!
            <ul>
              <li>Mainly hiking and running, nature is really cool :o</li>
              <li>
                I'd like to hopefully bike more if I ever manage to buy a good
                bike
              </li>
            </ul>
          </li>
          <li>
            I'm a night owl
            <ul>
              <li>and I use my computer way too much...</li>
            </ul>
          </li>
        </ul>
      </div>

      <div>
        <!-- Second column -->
        <Links />
      </div>
    </div>
  </div>
</Layout>
