---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Links from "../components/Links.astro";
import A from "../components/Anchor.astro";
---

<Layout title="Credits">
  <div class="w-full h-full max-w-4xl mx-auto">
    <Banner />
    <div
      class="grid grid-cols-[4fr_1fr] content-stretch justify-items-stretch gap-4 rounded-2xl mb-12"
    >
      <div
        class="border border-gray-600 bg-background/80 p-4 [&_a]:text-accent"
      >
        <h1>Credits</h1>
        <p>
          I drew all assets by myself, and did the implementation by myself too!
        </p>
        <p>But I do feel like I was standing on the shoulders of giants.</p>
        <p>So huge thanks to:</p>
        <ul>
          <li>
            <A href="https://astro.build/">Astro</A> developers, for making such an
            amazing web framework!
          </li>
          <li>
            <A href="https://www.typescriptlang.org/">TypeScript</A> developers, for
            making JavaScript somewhat usable!
          </li>
          <li>
            <A href="https://krita.org/en/">Krita</A> developers, for making an absolutely
            awesome yet FOSS art program!
          </li>
          <li>
            <A href="https://www.ffmpeg.org/">FFmpeg</A> and
            <A href="https://imagemagick.org/">ImageMagick</A>, for being
            amazing FOSS image and video processing tools as always!
          </li>
          <li>
            <A href="https://docs.github.com/pages">GitHub Pages</A> and
            <A href="https://neocities.org">Neocities</A>, for providing
            reliable file hosting and my custom subdomain, all for free!
          </li>
          <li>
            <A href="https://github.com/adryd325/oneko.js/">
              Adryd325's oneko implementation
            </A>
            for the cursor-following cat!
          </li>
          <li>
            Other Neocities websites, for giving me inspiration! Specifically:
            <ul>
              <li><A href="https://dimden.dev">dimden.dev</A></li>
              <li>
                <A href="https://xiokka.neocities.org">xiokka.neocities.org</A>
              </li>
              <li>
                <A href="https://lilithdev.neocities.org"
                  >lilithdev.neocities.org</A
                >
              </li>
            </ul>
            <div>
              I really liked your sites in particular and thank you for the
              inspiration!
            </div>
          </li>
          <li>
            Countless images I used for art inspiration! Read my <A
              href="/blogs/personal-website">devlog</A
            >, I credit them there
          </li>
        </ul>

        <br />
        <p>
          And finally, thanks to <ac>you</ac> for visting my site!
        </p>
      </div>
      <div>
        <Links />
      </div>
    </div>
  </div>
</Layout>
