---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex w-full h-full justify-center place-items-center">
    <div class="w-full h-full max-w-7xl max-h-240 p-16">
      <div
        class="grid grid-rows-[3fr_2fr_3fr] grid-cols-[1fr_3fr_1fr] w-full h-full content-stretch justify-items-stretch"
      >
        <!-- First row -->
        <div></div>
        <img src="src/assets/neon banner.avif" />
        <div></div>

        <!-- Second row -->
        <div></div>
        <div></div>
        <div></div>

        <!-- Third row -->
        <div></div>
        <img src="src/assets/table.avif" />
        <div></div>
      </div>
    </div>
  </main>
</Layout>
