---
import Layout from "../layouts/Layout.astro";
import A from "../components/Anchor.astro";
import Banner from "../components/Banner.astro";
import Links from "../components/Links.astro";
---

<Layout>
  <div class="w-full h-full max-w-6xl">
    <Banner />
    <div
      class="grid grid-cols-[1fr_3fr_1fr] content-stretch justify-items-stretch gap-4 rounded-2xl mb-12"
    >
      <!-- First column -->
      <div class="flex flex-col [&>div]:p-2 text-center relative">
        <img src="/assets/plant.avif" class="-mb-1.5" />
        <div
          class="flex flex-col border border-gray-600 bg-background [&>a>div]:flex [&>a>div]:gap-2 [&>a>div]:justify-center"
        >
          <h2>Socials</h2>
          <A href="https://github.com/orangishcat">
            <div>GitHub</div>
          </A>
          <span class="text-xs text-gray-400">
            I do have other social media accounts, I just never use them.
          </span>
        </div>
        <br />
        <img src="/assets/clock.apng" class="w-1/2 mx-auto" />
        <div class="border border-gray-600">
          <h2>Projects</h2>
          <div class="flex flex-col"></div>
        </div>
        <br />
        <a href="/blog">
          <img src="/assets/book.apng" />
        </a>
        <br />
      </div>

      <!-- Second column -->
      <div class="border-gray-600 border space-y-6 p-4">
        <div>
          <h2>About me</h2>
          <p>
            <span class="text-lg">Hi hi!</span><br />
            I'm a <ac>high school programmer</ac> who occasionally codes random stuff!
            <br />
          </p>
          <p>
            I post my projects, blog posts, and devlogs on this website. This
            site is just my little corner of the internet :D
          </p>
          <p>
            I'm definitely not a great artist, but I try out art sometimes just
            for fun!
          </p>
          <p>
            Some facts about me:
            <ul>
              <li>I live in <ac>California, USA</ac>!</li>
              <li>I like cats! (obviously)</li>
              <li>I like the outdoors too!</li>
              <li>I'm a night owl. My sleep schedule is utterly terrible.</li>
              <li>
                I don't really have a favorite color, but if you asked me I
                would probably say <span class="text-primary">orange</span>.
              </li>
              <li>
                <A href="/about-me" class="text-accent">More about me</A>
              </li>
            </ul>
          </p>
        </div>
        <div>
          <h2>Programming skillset</h2>
          <p>
            I specialize mostly in <ac>webdev</ac> and <ac>Minecraft modding</ac
            >, and I know a lot about <ac>Python</ac> and have used it for robotics
            and data science.
          </p>
          <p>
            I have worked with <ac>C++</ac> for robotics before, but I want to improve
            and also try out <ac>Rust</ac>. I usually don't focus much on
            low-level development though, as manual memory management is a pain.
          </p>
        </div>
        <div>
          <h2>Hobbies</h2>
          <ul>
            <li><ac>Programming</ac>!</li>
            <li>
              <ac>Running</ac>. It's good exercise that I can do fully by
              myself, and I can explore the outdoors!
            </li>
            <li>
              <ac>Hiking</ac>. I like nature and the outdoors, and exploring it.
            </li>
            <li>
              <ac>Piano</ac>. I used to take classes but then got bored. I now
              practice occasionally by myself.
            </li>
            <li>
              <ac>Video games</ac>!
            </li>
          </ul>
        </div>
        <div>
          <h2>Want to learn</h2>
          <p>
            Haven't done much hardware outside of robotics, and I try out art
            for fun sometimes, like for making this website! I hope to improve
            at both someday :)
          </p>
          <p>
            And I might want to try composing music? I'm not very good at it
            though...
          </p>
        </div>
        <div>
          <h2>Games I like</h2>
          <div class="grid grid-cols-4 gap-3">
            <A href="https://www.minecraft.net/en-us">
              <img src="/assets/minecraft.avif" />
            </A>
            <A href="https://osu.ppy.sh/">
              <img src="/assets/osu.avif" />
            </A>
            <A href="https://deltarune.com/">
              <img src="/assets/deltarune.avif" />
            </A>
            <A
              href="https://store.steampowered.com/app/1660910/Tanks_The_Crusades/"
            >
              <img src="/assets/ttc.avif" />
            </A>
          </div>
        </div>
        <div>
          <p>
            Thank you for making it to the end! Hope you have a nice day <span
              class="text-red-400">&lt;3</span
            >
          </p>
        </div>
      </div>

      <!-- Third column -->
      <div class="text-center">
        <Links />
        <br />
        <div class="border-gray-600 border p-2">
          <h2>Blog</h2>
        </div>
        <br />
        <br />
        <div class="w-full relative">
          <img src="/assets/computer.avif" class="w-full" />
          <video
            autoplay
            muted
            src="/assets/gameplay.webm"
            class="absolute top-12.5 left-14 w-32"></video>
        </div>
      </div>
    </div>
  </div>
</Layout>
