<img
  draggable="false"
  src="/assets/cat.apng"
  class="-mb-1.5 mt-[-75%] z-10 w-full"
/>
<div
  class="[&>a>div]:flex [&>a>div]:gap-2 [&>a>div]:py-1 [&>a>div]:justify-center py-2 border-gray-600 border text-center"
>
  <h2 class="border-b border-gray-600">Links</h2>
  <a href="/">
    <div>Home</div>
  </a>
  <a href="/about-me">
    <div>About me</div>
  </a>
  <a href="/projects">
    <div>Projects</div>
  </a>
  <a href="/blog">
    <div>Blog</div>
  </a>
</div>
