---
import MetaHead from "../components/MetaHead.astro";
import Banner from "../components/Banner.astro";
import A from "../components/Anchor.astro";
import Links from "../components/Links.astro";
const { title, entries, index } = Astro.props;
import { routeFor } from "../data.js";
---

<!doctype html>
<html lang="en">
  <head>
    <MetaHead />
    <title>{(title ? `${title} | ` : "") + "orangishcat's happy place"}</title>
  </head>

  <body>
    <main class="mx-auto p-16 place-items-center ml-1">
      <div class="w-full h-full max-w-6xl mx-auto">
        <Banner />
        <div class="grid grid-cols-[1fr_3fr_1fr] gap-4">
          <!-- First column -->
          <div>
            <div class="border border-gray-600 bg-background/80 pt-2 pb-8 mt-8">
              <h2 class="text-center">Table of Contents</h2>
              <div class="overflow-y-auto pl-4">
                {
                  entries.map((entry: any, ind: number) => (
                    <A href={routeFor(entry, ind)}>
                      <div
                        class={
                          (index === ind ? "text-orange-400" : "text-accent") +
                          " flex place-items-center gap-2"
                        }
                      >
                        <div class="w-2">
                          {index === ind ? (
                            <div class="-mb-0.5">&gt;</div>
                          ) : (
                            <div class="text-gray-400 -mb-0.5">-</div>
                          )}
                        </div>

                        <div class="mt-1">
                          {entry.data.title ||
                            entry.filePath?.substring(
                              entry.filePath.lastIndexOf("/") + 1,
                              entry.filePath.lastIndexOf("."),
                            )}
                        </div>
                      </div>
                    </A>
                  ))
                }
              </div>
            </div>
          </div>

          <!-- Second column -->
          <div
            class="border border-gray-600 bg-background/80 p-4 flex flex-col justify-between font-sans"
          >
            <div
              class="overflow-auto [&_a]:text-accent [&_pre]:p-2 [&_pre]:rounded-xl"
            >
              <slot />
            </div>

            <div class="flex w-full text-center px-4 gap-4 mt-4">
              {
                entries[index - 1] ? (
                  <a
                    href={routeFor(entries[index - 1], index - 1)}
                    class="w-full"
                  >
                    <div class="w-full border hover:bg-background-lighter border-gray-600 rounded-xl py-3">
                      Previous
                    </div>
                  </a>
                ) : (
                  <div class="w-full" />
                )
              }
              {
                entries[index + 1] ? (
                  <a
                    href={routeFor(entries[index + 1], index + 1)}
                    class="w-full"
                  >
                    <div class="w-full border hover:bg-background-lighter border-gray-600 rounded-xl py-3">
                      Next
                    </div>
                  </a>
                ) : (
                  <div class="w-full" />
                )
              }
            </div>
          </div>
          <div>
            <Links />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
