---
import MetaHead from "../components/MetaHead.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scrollbar-thin scrollbar-gutter-stable">
  <head>
    <MetaHead />
    <title>{(title && `${title} | `) + "orangishcat's happy place"}</title>
  </head>

  <body>
    <main class="mx-auto p-16 place-items-center ml-1">
      <slot />
    </main>
  </body>
</html>
