---
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="scrollbar-thin scrollbar-gutter-stable">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link href="/src/styles/global.css" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>orangishcat's website</title>
    <ClientRouter />
  </head>
  <body>
    <main class="mx-auto p-16 place-items-center ml-1">
      <slot />
    </main>
  </body>
</html>
