---
import MetaHead from "../components/MetaHead.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scrollbar-thin scrollbar-gutter-stable">
  <head>
    <MetaHead />
    <title>{(title ? `${title} | ` : "") + "orangishcat's happy place"}</title>
  </head>
  <body>
    <main class="mx-auto px-16 pt-20 pb-44 place-items-center ml-1 relative">
      <slot />
      <p class="absolute w-full text-center bottom-8 text-gray-400">
        Made with <span class="text-red-400">&lt;3</span> by
        <span class="text-primary">orangishcat</span>. © 2026 orangishcat. All
        rights reserved.
      </p>
    </main>
  </body>
</html>
